dash
dash-bootstrap-components
matplotlib
Pillow
pandas
numpy
xlsxwriter
openpyxl
python-dotenv
selenium
undetected-chromedriver
webdriver-manager
tqdm
beautifulsoup4
requests
google-api-python-client
google-auth-httplib2
google-auth-oauthlib